<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="material/list :: head"></head>
<body>
<div class="container" style="height: auto">
    <div th:replace="material/list :: menu"></div>
    <div class="row">
        <div class="col-sm-4">
            <h1>Create material</h1>
            <p>
                <a href="/material">Material list</a>
            </p>
            <th:block th:if="${message}">
                <p th:text="${message}"></p>
            </th:block>
            <form th:action="@{/create-material}" th:object="${material}" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td>Code</td>
                        <td><input type="text" th:field="*{code}"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Import Date</td>
                        <td><input type="date" th:field="*{importDate}"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" th:field="*{description}"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="number" th:field="*{price}"></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td><input type="number" th:field="*{quantity}"></td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td><input type="file" th:field="*{image}" multiple></td>
                    </tr>
                    <tr>
                        <td>Supplier</td>
                        <td>
                            <select th:field="*{supplier}">
                                <option th:each="s : ${suppliers}" th:value="${s.id}" th:text="${s.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Create material"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>