<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="panel panel-default" th:fragment="menu">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>
        <strong>Case Study: Material management</strong>
    </div>
    <div class="list-group">
        <a href="/supplier" class="list-group-item">Supplier</a>
        <a href="/material" class="list-group-item">Material</a>
    </div>
</div>
</body>
</html>